/* game styles */

.slide .buttons.w50 { width: 50%; }
.slide .buttons.w75 { width: 75%; }
.slide button.w50 { width: 49%; }

.slide .top-block {
    display: flex;
    flex-direction: row;
}
.slide .top-block > div {
    flex: 1;
}
.slide .top-block > div:nth-child(2) {
    flex: 2;
}
.slide .logo {
    float: left;
    display: inline;
    width: 20%;
}
.slide .top-pic {
    text-align: center;
}
.slide .top-pic img {
    width: 300px;
}
.slide .logo > img {
    width: 100%;
    height: auto;
}
.slide .info {
    margin-bottom: 1em;
    font-size: 1.24em;
    color: darkblue;
}
.slide .results-block .info {
    text-align: center;
    font-size: 1.74em;
    color: darkgreen;
    background-image: radial-gradient(circle at center, gold, #aaa);
}
.slide .stat {
    margin-bottom: 1em;
    color: #555;
}
.slide .results-block .stat {
    color: darkblue;
    font-size: 1.24em;
}
.stat-line {
    text-align: center;
}
.stat-line > .text {
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    width: 60%;
}
.stat-line > .num {
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 1em;
    vertical-align: top;
    width: 40%;
}
.results-block .stat-line > .text,
.results-block .stat-line > .num
{
    width: 50%;
}
.slide .buttons {
    width: 50%;
}

/* card */
.slide.card {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 114px);
}
.slide.card.hide {
    display: none;
}
.slide.card .content {
    flex: 1;
    align-self: center;
    width: 100%;
}
.slide.card .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 0 0 0%;
}
.slide.card button {
    display: inline-block;
    margin: 0.25em 0.5em;
    width: auto;
    flex: 1;
}
.slide.card:not([data-state="ask"]) button {
    /* prevent button double click */
    cursor: inherit;
    pointer-events: none;
}
.slide.card[data-state="valid"][data-button="1"] button[data-id="1"],
.slide.card[data-state="valid"][data-button="2"] button[data-id="2"],
.slide.card[data-state="valid"][data-button="3"] button[data-id="3"],
.slide.card[data-state="valid"][data-button="4"] button[data-id="4"]
{
    background-color: #5d5;
}
.slide.card[data-state="invalid"][data-button="1"] button[data-id="1"],
.slide.card[data-state="invalid"][data-button="2"] button[data-id="2"],
.slide.card[data-state="invalid"][data-button="3"] button[data-id="3"],
.slide.card[data-state="invalid"][data-button="4"] button[data-id="4"]
{
    background-color: #d55;
}

/* face images */
[data-layout="game-launcher"] .face-slot-wrapper {
    padding-bottom: 1em;
}

/* game log */
.slide details {
    color: #555;
}
.slide details > div {
    width: 100%;
}
.slide summary {
    cursor: pointer;
    margin-bottom: 0.5em;
}
.birth-date,
.death-date {
    display: inline-block;
    margin-right: 0.5em;
}
.death-date::before {
    content: ' | ';
}
.game-log-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.game-log-item .person-icon {
    margin: 2px;
    width: 2em;
    height: 100%;
}
.game-log-item .person-info {
    margin: 2px;
    margin-left: 0.5em;
    flex: 1;
}
.game-log-item .answer-info {
    margin: 2px;
    width: 20%;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 5px;
}
.game-log-item .person-icon img {
    border: 1px solid #555;
    width: 100%;
    height: auto;
}
.game-log-item-wrapper.answer-valid {
    background-color: #7c7;
}
.game-log-item-wrapper.answer-invalid {
    background-color: #e88;
}
