/* main styles */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /* background-image: linear-gradient(rgb(120, 120, 120), rgb(50, 50, 50)); */
    background: radial-gradient(ellipse at top, #ddd, #333);
}

a.icon-link {
    text-decoration: none;
    filter: hue-rotate(260deg) brightness(1.2);
}

#disclaimer {
    border-top: 1px solid gray;
    text-align: center;
    color: #555;
    /* text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); */
}

button, .button {
    cursor: pointer;
    user-select: none;
}

button {
    padding: 2px 5px;
}
.button.light {
    opacity: 0.5;
}
.button.light:hover {
    opacity: 1;
}
button.disabled, .button.disabled {
    cursor: inherit;
    pointer-events: none;
    color: gray;
}
.button.disabled {
    filter: grayscale(100%) !important;
    font-variant-emoji: text !important;
    color: #ccc !important;
}

.pa1 { padding: 1em; }
.pa2 { padding: 2em; }
.pa3 { padding: 3em; }
.pa4 { padding: 4em; }
.pa5 { padding: 5em; }
.pah1 { padding: 0 1em; }
.pav1 { padding: 1em 0; }
.tal { text-align: left;}
.tar { text-align: right;}
.w25 { width: 25%; display: inline-block;}
.w50 { width: 50%; display: inline-block;}
.w100 { width: 100%; display: inline-block;}
.list-none { list-style: none; }
.list-none > li { margin: 0.5em 0; }
.inline { display: inline; }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.faces-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    width: 100%;
    gap: 0px;
}
.face-slot-wrapper {
    box-sizing: border-box;
    margin: 5px;
    display: flex;
    flex: 1 1 10vw;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}
.face-slot {
    /* border: 2px solid blue; */
    overflow: hidden;
    width: 100%;
    max-width: 24vw;
    aspect-ratio: 2 / 3;
    position: relative;
    background-color: gray;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.face-slot > img {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: left top;
    transform: scale(1);
    transition-property: top, left, transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.face-slot:has(img.loading):after {
    content: ' ';
    position: absolute;
    width: 4em;
    height: 4em;
    border: 5px solid white;
    border-bottom-color: black;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    left: calc(50% - 2em);
    top: 2em;
}
@keyframes rotation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

img.error {
    width: 100%;
    height: 100%;
}
img.error:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '❌';
    display: block;
    text-align: center;
    background: linear-gradient(black, gray);
    padding: 1em;
    font-size: 2em;
}

#top-sidebar {
    padding-left: 50%;
    background-color: darkslategray;
}
#back {
    font-size: 2em;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    display: inline-block;
    background: white;
    width: 1em;
    height: 1em;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.1em;
    line-height: 0.9em;
}
body[data-layout="main"] #back {
    display: none;
}
#main-wrapper {
    width: 400px;
    margin-left: -200px;
    text-align: center;
}
#main-icon {
    display: inline-block;
    width: 2em;
    font-size: 3em;
    text-align: right;
}
#main-title {
    display: inline-block;
    font-size: 3em;
    color: gray;
    text-align: left;
    margin: 8px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#modal-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 50%;
    padding-top: 120px;
}
#modal-box {
    min-width: 300px;
    min-height: 50px;
    width: 300px;
    margin-left: -150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#modal-title {
    text-transform: capitalize;
    background-color: dimgray;
    color: white;
    padding: 2px 5px;
    border-bottom: 1px solid black;
    position: relative;
}
#modal-close {
    font-size: 2em;
    position: absolute;
    right: 0.18em;
    top: -0.22em;
}

.toolbar {
    /* background-color: #dda; */
    background: radial-gradient(circle at center, #dda, #553);
    border-bottom: 1px solid #555;
}

.layout-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.layout-wrapper button {
    width: 100%;
    padding: 0.25em 3em;
}

/* game "collection explorer" */
.layout-wrapper[data-order="asc"] .bn-order-asc,
.layout-wrapper[data-order="desc"] .bn-order-desc,
.layout-wrapper[data-order="shuffle"] .bn-order-shuffle
{
    border: 2px solid red;
    border-radius: 3px;
    padding: 1px 0;
}
.bn-page-prev, .bn-page-next, .bn-page-first, .bn-page-last {
    filter: hue-rotate(260deg) brightness(1.2);
}
.layout-wrapper[data-pag="noless"] .bn-page-prev,
.layout-wrapper[data-pag="noless"] .bn-page-first,
.layout-wrapper[data-cap="noless"] .bn-cap-less,
.layout-wrapper[data-pag="nomore"] .bn-page-next,
.layout-wrapper[data-pag="nomore"] .bn-page-last,
.layout-wrapper[data-cap="nomore"] .bn-cap-more,
.layout-wrapper[data-pag="empty"] .bn-page-prev,
.layout-wrapper[data-pag="empty"] .bn-page-next,
.layout-wrapper[data-pag="empty"] .bn-page-first,
.layout-wrapper[data-pag="empty"] .bn-page-last
{
    cursor: inherit;
    pointer-events: none;
    filter: grayscale(100%);
    font-variant-emoji: text;
    color: #ccc;
    opacity: 0.5;
}


.layout-wrapper[data-capv="16"] .face-slot-wrapper { flex-basis: 9vw; }
.layout-wrapper[data-capv="24"] .face-slot-wrapper { flex-basis: 9vw; }
.layout-wrapper[data-capv="32"] .face-slot-wrapper { flex-basis: 8vw; }

