/* main styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(ellipse at top, #ddd, #333);
}
h2 {
    color: #555;
    font-family: monospace;
    font-size: 1.42rem;
}

a.icon-link {
    text-decoration: none;
    filter: hue-rotate(260deg) brightness(1.2);
}

label > input[type="checkbox"] {
    vertical-align: baseline;
    margin-right: 0.1em;
}
label.user-option {
    display: inline-block;
    margin-bottom: 0.5em;
}

#content {
    height: calc(100vh - 70px);
    position: relative;
}
#disclaimer {
    border-top: 1px solid gray;
    text-align: center;
    color: #555;
    min-width: 320px;
}

button, .button {
    cursor: pointer;
    user-select: none;
}
button img, .button img {
    pointer-events: none;
}

button {
    padding: 2px 5px;
}
.button.light {
    opacity: 0.5;
}
.button.light:hover {
    opacity: 1;
}
button.disabled, .button.disabled {
    cursor: inherit;
    pointer-events: none;
    color: gray;
}
.button.disabled {
    filter: grayscale(100%) !important;
    font-variant-emoji: text !important;
    color: #ccc !important;
}

img.icon
{
    width: auto;
    height: 1em;
    vertical-align: text-bottom;
}

.draggable {
    -webkit-user-drag: none;
}
.dragging {
    cursor: grab;
}

.pa25f { padding: 0.25em; }
.pa5f { padding: 0.5em; }
.pa1 { padding: 1em; }
.pa2 { padding: 2em; }
.pa3 { padding: 3em; }
.pa4 { padding: 4em; }
.pa5 { padding: 5em; }
.pah1 { padding: 0 1em; }
.pav1 { padding: 1em 0; }
.pot1 { padding: 1em; padding-top: 0; }
.tal { text-align: left;}
.tar { text-align: right;}
.w25 { width: 25%; display: inline-block;}
.w50 { width: 50%; display: inline-block;}
.w100 { width: 100%; display: inline-block;}
.list-none { list-style: none; }
.list-none > li { margin: 0.5em 0; }
.inline { display: inline; }
.hide { display: none; }
.sept { border-top: 1px solid #555; }
.sepb { border-bottom: 1px solid #555; }

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

img.error {
    width: 100%;
    height: 100%;
}
img.error:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: '❌';
    display: block;
    text-align: center;
    background: linear-gradient(black, gray);
    padding: 1em;
    font-size: 2em;
}

#top-sidebar {
    padding-left: 50%;
    background-color: darkslategray;
    height: 70px;
}
#back {
    font-size: 2em;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    display: inline-block;
    background: white;
    width: 1em;
    height: 1em;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.1em;
    line-height: 0.9em;
}
body[data-layout="main"] #back {
    display: none;
}
#main-wrapper {
    width: 400px;
    margin-left: -200px;
    text-align: center;
}
#main-icon {
    display: inline-block;
    width: 2em;
    font-size: 3em;
    text-align: right;
}
#main-title {
    display: inline-block;
    font-size: 3em;
    color: gray;
    text-align: left;
    margin: 8px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#modal-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 50%;
    padding-top: 120px;
    z-index: 99;
}
#modal-box {
    min-width: 320px;
    min-height: 50px;
    width: 300px;
    margin-left: -150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
#modal-title {
    text-transform: capitalize;
    background-color: dimgray;
    color: white;
    padding: 2px 5px;
    border-bottom: 1px solid black;
    position: relative;
}
#modal-close {
    font-size: 2em;
    position: absolute;
    right: 0.18em;
    top: -0.22em;
}
#modal-content {
    height: 100%;
}

.toolbar {
    background: radial-gradient(circle at center, #dda, #553);
    border-bottom: 1px solid #555;
    padding: 0.2em
}

.layout-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.layout-wrapper button {
    width: 100%;
    padding: 0.25em 3em;
}

.progress-container {
    width: 50%;
    background-color: #e0e0e0;
    height: 5px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 1em;
}
.progress-bar {
    height: 100%;
    width: 30%;
    background-color: #4caf50;
    position: relative;
    animation: indeterminate-progress 1.5s infinite linear;
}
@keyframes indeterminate-progress {
  0% { left: -30%; }
  100% { left: 100%; }
}

/* slider */
.slider {
    width: 35vw;
    min-width: 320px;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}
.slide {
    position: absolute;
    box-sizing: border-box;
    background-color: #aaa;
    border: 1px solid #555;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 1em;
}
.slide.transit-right2left {
    animation: right2left 0.5s 1 ease-in-out;
    z-index: 1;
}
@keyframes right2left {
  0% { left: 100%; }
  100% { left: 0%; }
}